In [ ]:
cd /content/drive/Shareddrives/과학기술일자리진흥원_은채/200901_210228_인턴/지식재산연구원 논문/동향분석(딥러닝)/기업정보연계

/content/drive/Shareddrives/과학기술일자리진흥원_은채/200901_210228_인턴/지식재산연구원 논문/동향분석(딥러닝)/기업정보연계

# KSIC 코드로 정리

In [ ]:
import pandas as pd

In [ ]:
ksic9 = pd.read_csv('KSIC9차_KSIC코드.csv')

In [ ]:
import re
p = re.compile('\S+\(') 
set(ksic9['산업분류(KSIC)'].apply(lambda x: len(p.findall(x)))) # 여러 개의 괄호가 있는 건 없다.

{1}

In [ ]:
ksic9['산업분류(KSIC)_중'] = ksic9['산업분류(KSIC)'].apply(lambda x: x.split('(')[0])

In [ ]:
ksic9['산업분류(KSIC)_중'] = ksic9['산업분류(KSIC)_중'].apply(lambda x: x.split(', '))

In [ ]:
import re
p = re.compile('\S+\(\S+\)')
ksic9['산업분류(KSIC)_세1'] = ksic9['산업분류(KSIC)'].apply(lambda x: p.findall(x)[0].split('(')[0])
ksic9['산업분류(KSIC)_세2'] = ksic9['산업분류(KSIC)'].apply(lambda x: p.findall(x)[0].replace(')','').split('(')[1])

In [ ]:
ksic9

                      산업명  ... 산업분류(KSIC)_세2
0                    농림어업  ...         A0000
1                      광업  ...         B0000
2                 식료품 제조업  ...         C1000
3                   음료제조업  ...         C1100
4                   담배제조업  ...         C1200
..                    ...  ...           ...
56               기타제품 제조업  ...         C3300
57         전기, 가스, 증기, 수도  ...         D0000
58  하수, 폐기물처리, 원료재생, 환경복원  ...         E0000
59          건설업, 건축기술 서비스  ...         Y0000
60      컴퓨터 프로그래밍, 정보서비스업  ...         Z0000

[61 rows x 5 columns]

In [ ]:
ksic9 = ksic9.explode('산업분류(KSIC)_중')

In [ ]:
ksic9[ksic9['산업분류(KSIC)_중']=='C20']

                       산업명  산업분류(KSIC) 산업분류(KSIC)_중 산업분류(KSIC)_세1 산업분류(KSIC)_세2
12              기초 화학물질제조업  C20(C2010)          C20           C20         C2010
13         비료 및 질소 화학물 제조업  C20(C2020)          C20           C20         C2020
14     합성고무 및\n플라스틱 물질 제조업  C20(C2030)          C20           C20         C2030
15           살충제 및 기타농약제조업  C20(C2041)          C20           C20         C2041
16  잉크, 페인트 코팅제 및 유사제품 제조업  C20(C2042)          C20           C20         C2042
17       세제, 화장품 및 광택제 제조업  C20(C2043)          C20           C20         C2043
18         그 외 기타 화학제품 제조업  C20(C2049)          C20           C20         C2049
19                화학섬유 제조업  C20(C2050)          C20           C20         C2050

In [ ]:
ksic9

                  산업명                 산업분류(KSIC)  ... 산업분류(KSIC)_세1 산업분류(KSIC)_세2
0                농림어업       A01, A02, A03(A0000)  ...           A03         A0000
0                농림어업       A01, A02, A03(A0000)  ...           A03         A0000
0                농림어업       A01, A02, A03(A0000)  ...           A03         A0000
1                  광업  B05, B06, B07, B08(B0000)  ...           B08         B0000
1                  광업  B05, B06, B07, B08(B0000)  ...           B08         B0000
..                ...                        ...  ...           ...           ...
59      건설업, 건축기술 서비스            F41, F42(Y0000)  ...           F42         Y0000
59      건설업, 건축기술 서비스            F41, F42(Y0000)  ...           F42         Y0000
60  컴퓨터 프로그래밍, 정보서비스업      J582, J62, J63(Z0000)  ...           J63         Z0000
60  컴퓨터 프로그래밍, 정보서비스업      J582, J62, J63(Z0000)  ...           J63         Z0000
60  컴퓨터 프로그래밍, 정보서비스업      J582, J62, J63(Z0000)  ...           J63         Z0000

[72 rows x 5 columns]

In [ ]:
ksic9.reset_index(drop=True, inplace=True)
ksic9['KSIC_CODE'] = ksic9['산업분류(KSIC)_중']
ksic9.loc[ksic9.duplicated('산업분류(KSIC)_중', keep=False), 'KSIC_CODE'] = ksic9.loc[ksic9.duplicated('산업분류(KSIC)_중', keep=False), '산업분류(KSIC)_세2']

In [ ]:
ksic9 = ksic9[['산업명', 'KSIC_CODE']]

# KSIC -> IPC

In [ ]:
import pandas as pd

- table 정제

In [ ]:
table = pd.read_csv('기업정보연계+KSIC_IPC_연계_final.CSV', encoding='cp949')

In [ ]:
table

      농림어업     광업 식료품 제조업  ... 하수, 폐기물처리, 원료재생, 환경복원 건설업, 건축기술 서비스 컴퓨터 프로그래밍, 정보서비스업
0   A01B27   C22B    A21D  ...                  B09B          E01C              G06D
1   A01B02   E21D    A23B  ...                  B09C          E01D              G06E
2     A01C    NaN    A23C  ...                  B65F          E01F    G06F(G06F1 제외)
3     A01D    NaN    A23D  ...                  C02F          E02B    G06F(G06F3 제외)
4     A01G    NaN    A23F  ...                  G21F          E02D              G06G
..     ...    ...     ...  ...                   ...           ...               ...
92     NaN    NaN     NaN  ...                   NaN           NaN               NaN
93     NaN    NaN     NaN  ...                   NaN           NaN               NaN
94     NaN    NaN     NaN  ...                   NaN           NaN               NaN
95     NaN    NaN     NaN  ...                   NaN           NaN               NaN
96     NaN    NaN     NaN  ...                   NaN           NaN               NaN

[97 rows x 61 columns]

In [ ]:
table.columns = pd.Series(table.columns).str.replace('\n', ' ')

In [ ]:
table['특수 기계제조업']

0     A01B(A01B27/02 제외)
1                   A01F
2                   A01J
3                   A01M
4                   A21B
             ...
92                  F02F
93                  F16N
94                  F16P
95                  F26B
96                  H05H
Name: 특수 기계제조업, Length: 97, dtype: object

In [ ]:
table.columns

Index(['농림어업', '광업', '식료품 제조업', '음료제조업', '담배제조업', '섬유제품 제조업 :의복제외',
       '의복, 의복 액세서리 및 모피제품 제조업', '가죽, 가방 및 신발제조업', '목재 및 나무제품제조업; 가구제외',
       '펄프, 종이 및 종이제품 제조업', '인쇄 및 기록매체복제업', '코크스, 연탄 및 석유정제품 제조업',
       '기초 화학물질제조업', '비료 및 질소 화학물 제조업', '합성고무 및 플라스틱 물질 제조업', '살충제 및 기타농약제조업',
       '잉크, 페인트 코팅제 및 유사제품 제조업', '세제, 화장품 및 광택제 제조업', '그 외 기타 화학제품 제조업',
       '화학섬유 제조업', '의료용 물질 및 의약품 제조업', '고무제품 및 플라스틱 제품 제조업', '비금속광물제품 제조업',
       '1차 철강제조업', '1차 비철금속 제조업', '금속주조업', '구조용 금속제품, 탱크, 증기발생기 제조업',
       '무기 및 총포탄 제조업', '기타 금속가공 제품 제조업', '반도체 제조업', '전자부품 제조업',
       '컴퓨터 및 주변장치 제조업', '통신 및 방송 장비 제조업', '영상 및 음향기기 제조업', '마그네틱 및 광학 매체 제조업',
       '의료용 기기 제조업', '측정, 시험, 향해, 제어, 및 기타 정밀기기 제조업', '안경, 사진장비 및 기타 광학기기 제조업',
       '시계 및 시계부품 제조업', '전동기, 발전기 및 전기변환, 공급, 제어장치 제조업', '일차전지 및 축전지 제조업',
       '절연선 및 케이블제조업', '전구 및 조명장치 제조업', '가정용 기기 제조업', '기타 전기장비 제조업',
       '사무용 기계 및 장비 제조업', '사무용 이외의 일반기계 제조업', '특수 기계제조업', '자동차 제조업', '선박 제조업',
       '철도장비 제조업', '항공기 제조업', '전투용 차량 제조업', '모터사이클 제조업', '그 외 분류 안된 운송장비 제조업',
       '가구 제조업', '기타제품 제조업', '전기, 가스, 증기, 수도', '하수, 폐기물처리, 원료재생, 환경복원',
       '건설업, 건축기술 서비스', '컴퓨터 프로그래밍, 정보서비스업'],
      dtype='object')

- query 추출

In [ ]:
def change_format(x):
    x = x.strip()
    if len(x) == 4:
        x = x + '*'
    else:
        if '/' not in x:
            x = x[:4] + '-' + x[4:].zfill(3) + '*'
        else:
            x2 = x.split('/')
            x = x2[0][:4] + '-' + x2[0][4:].zfill(3) + '/' + x2[1]
    return x

In [ ]:
def make_query(i):
    result = []
    exceptions = list(filter(lambda x: '제외' in x,table[table.columns[i]][table[table.columns[i]].notnull()])) 
    # exception 있는 코드 제외하고 나열
    for x in table[table.columns[i]][table[table.columns[i]].notnull()]:
        x = x.strip()
        if x in exceptions:
            continue
        else:
            x = change_format(x)
            result.append(x)
    # exception 있는 경우에 대해
    keys = [change_format(e.split('(')[0]) for e in exceptions]
    exc_dict = {k: [] for k in keys}
    for e in exceptions:
        exc_dict[change_format(e.split('(')[0])].append(change_format(e.split('(')[1].replace(')','').replace('제외','')))
    for k, v in exc_dict.items():
        result.append('({} not ({}))'.format(k, ' or '.join(v)))
    # 최종 query
    return 'IC = ({})'.format(' or '.join(result))

In [ ]:
from tqdm import tqdm

queries = {}
for i, column in tqdm(enumerate(table.columns)):
    query = make_query(i)
    queries[column] = query

61it [00:00, 1225.05it/s]

In [ ]:
queries

{'1차 비철금속 제조업': 'IC = (C22F* or C25C* or G21H-(G21H1 제외)* or (G21H* not (G21H-001*)))',
 '1차 철강제조업': 'IC = (B21C* or C21B* or C21C* or C21D* or C22C* or F16S* or F17C*)',
 '가구 제조업': 'IC = (A47B* or A47C* or A47D* or A47F*)',
 '가정용 기기 제조업': 'IC = (A45D* or A47G* or A47J* or A47L* or D06F* or E06C* or F24B* or F24C* or H05B*)',
 '가죽, 가방 및 신발제조업': 'IC = (A43B* or A43C* or A45C* or B68B* or B68C*)',
 '건설업, 건축기술 서비스': 'IC = (E01C* or E01D* or E01F* or E02B* or E02D* or E03B* or E03C* or E03F* or E04H* or E05B* or E05C* or E06B* or E21C* or E99Z* or F42D*)',
 '고무제품 및 플라스틱 제품 제조업': 'IC = (B29B* or B29C* or B29D* or B29K* or B29L* or A42B-003* or B60C* or B65D* or B67D* or C08C* or F16L*)',
 '광업': 'IC = (C22B* or E21D*)',
 '구조용 금속제품, 탱크, 증기발생기 제조업': 'IC = (A47H* or B21G* or F16T* or F17B* or F22B* or F22G* or F24D* or F24H* or G21B* or G21C* or G21D*)',
 '그 외 기타 화학제품 제조업': 'IC = (A62D* or B01J* or C06B* or C06C* or C06D* or C06F* or C08H* or C09H* or C09J* or C09K* or C10M* or C10N* or C11B* or C11C* or C14C* or C23F* or C23G* or C40B* or C99Z* or F42B* or (G03C* not (G03C-005* or G03C-009* or G03C-011*)))',
 '그 외 분류 안된 운송장비 제조업': 'IC = (B62B* or B62C* or B62H* or B62K-(B62K11 제외)* or B62L* or B62M-(B62M6 제외)* or B62M-(B62M7 제외)* or (B62K* not (B62K-011*)) or (B62M* not (B62M-006* or B62M-007*)))',
 '금속주조업': 'IC = (B22D*)',
 '기초 화학물질제조업': 'IC = (C01C* or C01D* or C01F* or C01G* or C07B* or C07C* or C07F* or C07G* or C07H* or C09B* or C09C* or C10B* or C10C* or C10H* or C10J* or C10K* or C25B* or G21G* or G21J*)',
 '기타 금속가공 제품 제조업': 'IC = (A01L* or A44B-011* or B21D* or B21F* or B21H* or B21J* or B21K* or B21L* or B22F* or B23B* or B23C* or B23D* or B23G* or B23H* or B25B* or B25C* or B25F* or B25G* or B25H* or B26B* or B26F* or B27B* or B27G* or C23D* or C25D* or E05D* or E05G* or F16B*)',
 '기타 전기장비 제조업': 'IC = (B60M* or C25F* or G08B* or G08G* or G10K* or H01T* or H02H* or H02M* or H05C* or H05F*)',
 '기타제품 제조업': 'IC = (A41G* or A44B-(A44B11 제외)* or A44C-(A44C23제외)* or A45B* or A45F* or A46B* or A46D* or A63B* or A63C* or A63D* or A63F* or A63G* or A63H* or A63J* or A63K* or A99Z* or B43K* or B43L* or B43M* or B44D* or B44F* or B68G* or B99Z* or D07B* or F23Q* or G09B* or G09F* or G10B* or G10C* or G10D* or G10F* or G10G* or G10H* or (A44B* not (A44B-011*)) or (A44C* not (A44C-023*)))',
 '농림어업': 'IC = (A01B-027* or A01B-002* or A01C* or A01D* or A01G* or A01H* or A01K*)',
 '담배제조업': 'IC = (A24B* or A24D* or A24F*)',
 '마그네틱 및 광학 매체 제조업': 'IC = (G11B*)',
 '모터사이클 제조업': 'IC = (B62J* or B62K-011* or B62M-006* or B62M-007*)',
 '목재 및 나무제품제조업; 가구제외': 'IC = (A44C-023* or B27D* or B27K* or B27H* or B27M* or B27N* or E04G*)',
 '무기 및 총포탄 제조업': 'IC = (F41A* or F41B* or F41C* or F41F* or F41G* or F41H-(F41H7 제외)* or F41J* or F42C* or (F41H* not (F41H-007*)))',
 '반도체 제조업': 'IC = (G11C* or H01L*)',
 '비금속광물제품 제조업': 'IC = (A47K* or B24D* or B28B* or B28C* or B28D* or B32B* or C01B* or C03B* or C03C* or C04B* or E03D* or E04B* or E04C* or E04D* or E04F*)',
 '비료 및 질소 화학물 제조업': 'IC = (C05B* or C05C* or C05D* or C05F* or C05G*)',
 '사무용 기계 및 장비 제조업': 'IC = (B41L* or B41J-001* or G03G* or G06C* or G06M* or G07B* or G07C* or G07D* or G07G*)',
 '사무용 이외의 일반기계 제조업': 'IC = (B01B* or B01D* or B04C* or B05B* or B23F* or B25D* or B41K* or B60S-003* or B65B* or B65C* or B65G* or B66B* or B66C* or B66D* or B66F* or B67C* or C10F* or C12L* or E01H* or E02C* or E21F* or F01B* or F01C* or F01D* or F01K* or F01M* or F01N* or F01P* or F02G* or F03B* or F03C* or F03G* or F04B* or F04C* or F04D* or F04F* or F15B* or F15C* or F15D* or F16C* or F16D* or F16F* or F16G* or F16H* or F16K* or F16M* or F17D* or F22-000* or F23B* or F23C* or F23D* or F23G* or F23H* or F23J* or F23K* or F23L* or F23M* or F23N* or F23R* or F24F* or F24J* or F25B* or F25C* or F25D* or F25J* or F27B* or F27D* or F28B* or F28C* or F28D* or F28F* or F28G* or G01G* or G07F* or G09D* or G09G*)',
 '살충제 및 기타농약제조업': 'IC = (A01N* or A01P*)',
 '선박 제조업': 'IC = (B60V* or B63B* or B63C* or B63G* or B63H* or B63J*)',
 '섬유제품 제조업 :의복제외': 'IC = (D04D* or D04G* or D04H* or D06C* or D06J* or D06M* or D06N* or D06P* or D06Q*)',
 '세제, 화장품 및 광택제 제조업': 'IC = (A61Q* or C09F* or C09G* or C11D* or D06L* or A61K-008*)',
 '시계 및 시계부품 제조업': 'IC = (G04B* or G04C* or G04D* or G04F* or G04G* or G04R*)',
 '식료품 제조업': 'IC = (A21D* or A23B* or A23C* or A23D* or A23F* or A23G* or A23J* or A23K* or A23L* or A23P* or C12J* or C13B* or C13K*)',
 '안경, 사진장비 및 기타 광학기기 제조업': 'IC = (G02B* or G02C* or G03D* or G02F-002* or G02F-003* or G02F-007* or G03B-(G03B31 제외)* or G03B-(G03B42 제외)* or G03C-005* or G03C-009* or G03C-011* or G03F* or (G03B* not (G03B-031* or G03B-042*)))',
 '영상 및 음향기기 제조업': 'IC = (G03B-031* or G10L* or H03J* or H04H* or H04N* or H04R*)',
 '음료제조업': 'IC = (C12C* or C12F* or C12G* or C12H*)',
 '의료용 기기 제조업': 'IC = (A61B* or A61C* or A61D* or A61F* or A61G* or A61H* or A61J* or A61L* or A61M* or A61N* or A62B* or B01L* or B04B* or C12M* or G01T* or G03B-042* or H05G*)',
 '의료용 물질 및 의약품 제조업': 'IC = (A61P* or C07D* or C07J* or C07K* or C12N* or C12P* or C12Q* or C12R* or A61K-(A61K8 제외)* or (A61K* not (A61K-008*)))',
 '의복, 의복 액세서리 및 모피제품 제조업': 'IC = (A41B* or A41C* or A41D* or A41F* or A42B-(A42B3 제외)* or A42C-005* or (A42B* not (A42B-003*)))',
 '인쇄 및 기록매체복제업': 'IC = (B41M* or B42D*)',
 '일차전지 및 축전지 제조업': 'IC = (H01M*)',
 '잉크, 페인트 코팅제 및 유사제품 제조업': 'IC = (C09D*)',
 '자동차 제조업': 'IC = (B60B* or B60D* or B60F* or B60G* or B60H* or B60J* or B60K* or B60L-(B60L13 제외)* or B60N* or B60P* or B60R* or B60S-(B60S3 제외)* or B60T* or B60W* or B62D* or E05F* or F02M* or F02N* or F02P* or F16J* or G05G* or (B60L* not (B60L-013*)) or (B60S* not (B60S-003*)))',
 '전구 및 조명장치 제조업': 'IC = (B60Q* or F21H* or F21K* or F21L* or F21S* or F21V* or F21W* or F21Y* or H01K*)',
 '전기, 가스, 증기, 수도': 'IC = (F02C* or F03D* or H02S* or G21H-001*)',
 '전동기, 발전기 및 전기변환, 공급, 제어장치 제조업': 'IC = (F99Z* or H02B* or H02J* or H02K* or H02N* or H02P*)',
 '전자부품 제조업': 'IC = (B05D* or B81B* or B81C* or B82B* or B82Y* or C30B* or G02F-001* or G12B* or H01C* or H01F* or H01G* or H01J* or H05K* or H03K* or H03L*)',
 '전투용 차량 제조업': 'IC = (F41H-007*)',
 '절연선 및 케이블제조업': 'IC = (H01B* or H01H* or H01R* or H02G*)',
 '철도장비 제조업': 'IC = (B60L-013* or B61B* or B61C* or B61D* or B61F* or B61G* or B61H* or B61J* or B61K* or B61L* or E01B*)',
 '측정, 시험, 향해, 제어, 및 기타 정밀기기 제조업': 'IC = (G01B* or G01C* or G01D* or G01F* or G01H* or G01J* or G01K* or G01L* or G01M* or G01N* or G01P* or G01Q* or G01R* or G01S* or G01V* or G01W* or G05B* or G05D* or G05F* or G21K* or G08C*)',
 '컴퓨터 및 주변장치 제조업': 'IC = (B41J-002* or B41J-027* or B41J-029* or B41J-031* or B41J-032* or B41J-033* or B41J-035* or G06J* or G06F-001* or G06F-003* or G06K*)',
 '컴퓨터 프로그래밍, 정보서비스업': 'IC = (G06D* or G06E* or G06F-(G06F1 제외)* or G06F-(G06F3 제외)* or G06G* or G06N* or G06Q* or G06T* or G09C* or (G06F* not (G06F-001* or G06F-003*)))',
 '코크스, 연탄 및 석유정제품 제조업': 'IC = (C10G* or C10L*)',
 '통신 및 방송 장비 제조업': 'IC = (G03H* or H01P* or H01Q* or H01S* or H03B* or H03C* or H03D* or H03F* or H03G* or H03H* or H03M* or H04B* or H04J* or H04K* or H04L* or H04M* or H04Q* or H04S* or H04W* or H99Z*)',
 '특수 기계제조업': 'IC = (A01F* or A01J* or A01M* or A21B* or A21C* or A22B* or A22C* or A23N* or A24C* or A41H* or A43D* or A62C* or B01F* or B02B* or B02C* or B03B* or B03C* or B03D* or B05C* or B06B* or B07B* or B07C* or B08B* or B21B* or B22C* or B23K* or B23P* or B23Q* or B24B* or B24C* or B25J* or B26D* or B27C* or B27F* or B27J* or B27L* or B30B* or B31B* or B31C* or B31D* or B31F* or B41B* or B41C* or B41D* or B41F* or B41G* or B41N* or B42B* or B42C* or B44B* or B44C* or B65H* or B67B* or B68F* or C14B* or C23C* or D01B* or D01G* or D01H* or D02G* or D02H* or D02J* or D03C* or D03D* or D03J* or D04B* or D04C* or D05B* or D05C* or D06B* or D06G* or D06H* or D21B* or D21D* or D21F* or D21G* or D99Z* or E02F* or E21B* or F01L* or F02B* or F02D* or F02F* or F16N* or F16P* or F26B* or H05H* or (A01B* not (A01B-027/02)) or (A42C* not (A42C-005*)) or (B41J* not (B41J-001* or B41J-002* or B41J-027* or B41J-029* or B41J-031* or B41J-032* or B41J-033* or B41J-035*)))',
 '펄프, 종이 및 종이제품 제조업': 'IC = (B42F* or D21C* or D21H* or D21J*)',
 '하수, 폐기물처리, 원료재생, 환경복원': 'IC = (B09B* or B09C* or B65F* or C02F* or G21F*)',
 '합성고무 및 플라스틱 물질 제조업': 'IC = (C08B* or C08F* or C08G* or C08J* or C08K* or C08L*)',
 '항공기 제조업': 'IC = (B64B* or B64C* or B64D* or B64F* or B64G* or F02K* or F03H*)',
 '화학섬유 제조업': 'IC = (D01C* or D01D* or D01F*)'}

# KSIC, 국세청코드 - IPC

In [ ]:
import pandas as pd

In [ ]:
concordance = pd.read_csv('국세청업종코드-KSIC10-KSIC9_연계완.csv')

In [ ]:
concordance.head()

   일련번호  2018년 귀속(현행)업종코드  ...  KSIC9_코드          KSIC9_항목명
0   1.0           11000.0  ...    1110.0  곡물 및 기타 식량 작물 재배업
1   1.0           11000.0  ...    1140.0          기타 작물 재배업
2   2.0           11001.0  ...    1121.0           채소작물 재배업
3   2.0           11001.0  ...    1131.0           과실작물 재배업
4   2.0           11001.0  ...    1132.0   음료용 및 향신용 작물 재배업

[5 rows x 29 columns]

In [ ]:
concordance.isna().sum()

일련번호                    4
2018년 귀속(현행)업종코드       73
2019년 귀속(개편후)업종코드       4
국세청_대분류코드               4
국세청_대분류                 4
국세청_중분류코드               4
국세청_중분류                 4
국세청_소분류코드               4
국세청_소분류                 4
국세청_세분류코드               4
국세청_세분류                 4
국세청_세세분류                4
국세청_연계                  4
KSIC10_코드               2
KSIC10_대분류코드            2
KSIC10_대분류              0
KSIC10_중분류코드            2
KSIC10_중분류              0
KSIC10_소분류코드            2
KSIC10_소분류              0
KSIC10_세분류코드            2
KSIC10_세분류              0
KSIC10_세세분류             0
KSIC10_연계               0
메인                   1592
세부설명                 1296
KSIC10_항목명             82
KSIC9_코드               63
KSIC9_항목명              63
dtype: int64

In [ ]:
concordance = concordance[~concordance['KSIC10_코드'].isna()]

- 중분류 기준 병합

In [ ]:
concordance['KSIC_CODE'] = concordance['KSIC10_대분류코드']+concordance['KSIC10_중분류코드'].apply(lambda x: str(int(x)).zfill(2))

In [ ]:
concordance['KSIC_CODE']

0       A01
1       A01
2       A01
3       A01
4       A01
       ...
1997    U99
1998    M71
1999    M71
2000    T98
2001    T98
Name: KSIC_CODE, Length: 2000, dtype: object

In [ ]:
concordance = concordance.merge(ksic9, how='left')

In [ ]:
concordance

        일련번호  2018년 귀속(현행)업종코드  ...  KSIC_CODE   산업명
0        1.0           11000.0  ...        A01  농림어업
1        1.0           11000.0  ...        A01  농림어업
2        2.0           11001.0  ...        A01  농림어업
3        2.0           11001.0  ...        A01  농림어업
4        2.0           11001.0  ...        A01  농림어업
...      ...               ...  ...        ...   ...
1995  1589.0               NaN  ...        U99   NaN
1996     NaN               NaN  ...        M71   NaN
1997     NaN               NaN  ...        M71   NaN
1998     NaN               NaN  ...        T98   NaN
1999     NaN               NaN  ...        T98   NaN

[2000 rows x 31 columns]

In [ ]:
concordance.isna().sum()

일련번호                    4
2018년 귀속(현행)업종코드       73
2019년 귀속(개편후)업종코드       4
국세청_대분류코드               4
국세청_대분류                 4
국세청_중분류코드               4
국세청_중분류                 4
국세청_소분류코드               4
국세청_소분류                 4
국세청_세분류코드               4
국세청_세분류                 4
국세청_세세분류                4
국세청_연계                  4
KSIC10_코드               0
KSIC10_대분류코드            0
KSIC10_대분류              0
KSIC10_중분류코드            0
KSIC10_중분류              0
KSIC10_소분류코드            0
KSIC10_소분류              0
KSIC10_세분류코드            0
KSIC10_세분류              0
KSIC10_세세분류             0
KSIC10_연계               0
메인                   1590
세부설명                 1296
KSIC10_항목명             80
KSIC9_코드               61
KSIC9_항목명              61
KSIC_CODE               0
산업명                  1407
dtype: int64

In [ ]:
concordance.loc[concordance['산업명'].isna(), 'KSIC_CODE'].unique()

array(['C20', 'C26', 'C24', 'C25', 'C29', 'C28', 'C27', 'C31', 'N75',
       'C34', 'E36', 'L68', 'G45', 'G47', 'G46', 'H49', 'H52', 'H50',
       'H51', 'I55', 'I56', 'J58', 'J59', 'J61', 'J60', 'K64', 'K65',
       'K66', 'M70', 'M71', 'M72', 'M73', 'N76', 'N74', 'O84', 'P85',
       'Q86', 'Q87', 'R91', 'R90', 'S96', 'S95', 'S94', 'T97', 'U99',
       'T98'], dtype=object)

- 소분류 기준 병합

In [ ]:
concordance.loc[concordance['산업명'].isna(), 'KSIC_CODE'] = concordance.loc[concordance['산업명'].isna(), 'KSIC10_대분류코드']+concordance.loc[concordance['산업명'].isna(), 'KSIC10_소분류코드'].apply(lambda x: str(int(x)).zfill(3))

In [ ]:
(concordance['KSIC_CODE'] == 'J582').sum()

5

In [ ]:
concordance.loc[concordance['산업명'].isna(), '산업명'] = concordance.loc[concordance['산업명'].isna(),concordance.columns[:-1]].merge(ksic9, how='left')['산업명']

In [ ]:
concordance.isna().sum()

일련번호                    4
2018년 귀속(현행)업종코드       73
2019년 귀속(개편후)업종코드       4
국세청_대분류코드               4
국세청_대분류                 4
국세청_중분류코드               4
국세청_중분류                 4
국세청_소분류코드               4
국세청_소분류                 4
국세청_세분류코드               4
국세청_세분류                 4
국세청_세세분류                4
국세청_연계                  4
KSIC10_코드               0
KSIC10_대분류코드            0
KSIC10_대분류              0
KSIC10_중분류코드            0
KSIC10_중분류              0
KSIC10_소분류코드            0
KSIC10_소분류              0
KSIC10_세분류코드            0
KSIC10_세분류              0
KSIC10_세세분류             0
KSIC10_연계               0
메인                   1590
세부설명                 1296
KSIC10_항목명             80
KSIC9_코드               61
KSIC9_항목명              61
KSIC_CODE               0
산업명                  1402
dtype: int64

- 세분류 기준

In [ ]:
concordance['KSIC9_코드'].isna().sum()

61

In [ ]:
for i in concordance.loc[concordance['산업명'].isna()].index:
    if pd.notnull(concordance.loc[i, 'KSIC9_코드']):
        concordance.loc[i, 'KSIC_CODE'] = concordance.loc[i, 'KSIC10_대분류코드']+str(int(concordance.loc[i, 'KSIC9_코드'])).zfill(4)

In [ ]:
set(ksic9['KSIC_CODE'])

{'A01',
 'A02',
 'A03',
 'B05',
 'B06',
 'B07',
 'B08',
 'C10',
 'C11',
 'C12',
 'C13',
 'C14',
 'C15',
 'C16',
 'C17',
 'C18',
 'C19',
 'C2010',
 'C2020',
 'C2030',
 'C2041',
 'C2042',
 'C2043',
 'C2049',
 'C2050',
 'C21',
 'C22',
 'C23',
 'C2410',
 'C2420',
 'C2430',
 'C2510',
 'C2520',
 'C2590',
 'C2610',
 'C2620',
 'C2630',
 'C2640',
 'C2650',
 'C2660',
 'C2710',
 'C2720',
 'C2730',
 'C2740',
 'C2810',
 'C2820',
 'C2830',
 'C2840',
 'C2850',
 'C2890',
 'C2918',
 'C2919',
 'C2920',
 'C30',
 'C3110',
 'C3120',
 'C3130',
 'C3191',
 'C3192',
 'C3199',
 'C32',
 'C33',
 'D35',
 'D36',
 'E37',
 'E38',
 'E39',
 'F41',
 'F42',
 'J582',
 'J62',
 'J63'}

In [ ]:
concordance['KSIC_CODE']

0          A01
1          A01
2          A01
3          A01
4          A01
         ...
1995    U99009
1996    M71511
1997    M71519
1998    T98100
1999    T98200
Name: KSIC_CODE, Length: 2000, dtype: object

In [ ]:
(concordance['KSIC_CODE'] == 'C2010').sum()

0

In [ ]:
concordance.loc[concordance['산업명'].isna(), '산업명'] = concordance.loc[concordance['산업명'].isna(),concordance.columns[:-1]].merge(ksic9, how='left')['산업명']

In [ ]:
concordance.isna().sum()

일련번호                    4
2018년 귀속(현행)업종코드       73
2019년 귀속(개편후)업종코드       4
국세청_대분류코드               4
국세청_대분류                 4
국세청_중분류코드               4
국세청_중분류                 4
국세청_소분류코드               4
국세청_소분류                 4
국세청_세분류코드               4
국세청_세분류                 4
국세청_세세분류                4
국세청_연계                  4
KSIC10_코드               0
KSIC10_대분류코드            0
KSIC10_대분류              0
KSIC10_중분류코드            0
KSIC10_중분류              0
KSIC10_소분류코드            0
KSIC10_소분류              0
KSIC10_세분류코드            0
KSIC10_세분류              0
KSIC10_세세분류             0
KSIC10_연계               0
메인                   1590
세부설명                 1296
KSIC10_항목명             80
KSIC9_코드               61
KSIC9_항목명              61
KSIC_CODE               0
산업명                  1402
dtype: int64

- 이름 기준 병합

In [ ]:
for k in queries.keys():
    if k in concordance['KSIC9_항목명']:
        code = k

               KSIC10_소분류    국세청_소분류            KSIC9_항목명 KSIC10_코드
0                  작물 재배업     작물 재배업    곡물 및 기타 식량 작물 재배업     01110
1                  작물 재배업     작물 재배업            기타 작물 재배업     01110
2                  작물 재배업     작물 재배업             채소작물 재배업     01121
3                  작물 재배업     작물 재배업             과실작물 재배업     01121
4                  작물 재배업     작물 재배업     음료용 및 향신용 작물 재배업     01121
...                   ...        ...                  ...       ...
1997            국제 및 외국기관  국제 및 외국기관         기타 국제 및 외국기관     99009
1998   회사본부 및 경영 컨설팅 서비스업        NaN             제조업 회사본부     71511
1999   회사본부 및 경영 컨설팅 서비스업        NaN           기타 산업 회사본부     71519
2000   자가 소비를 위한 가사 생산 활동        NaN   자가 소비를 위한 가사 생산 활동     98100
2001  자가 소비를 위한 가사 서비스 활동        NaN  자가 소비를 위한 가사 서비스 활동     98200

[2002 rows x 4 columns]